<!-- card-salao.component.html -->
<div class="card h-100 shadow-sm">
  <div class="card-body">
    <h5 class="card-title">{{ salao.nome }}</h5>

    <p class="card-text">
      <small class="text-muted">
        <i class="fas fa-map-marker-alt"></i>
        {{ salao.logradouro }}, {{ salao.bairro }} - {{ salao.cidade }}/{{ salao.estado }}
      </small>
    </p>

    <p class="card-text">
      <small class="text-muted">
        <i class="fas fa-cut"></i>
        Serviços: {{ salao.servicos }}
      </small>
    </p>

    <p class="card-text">
      <small class="text-muted">
        <i class="fas fa-money-bill"></i>
        A partir de R$ {{ salao.preco ? salao.preco.toFixed(2) : 'N/A' }}
      </small>
    </p>
  </div>

  <!-- Rodapé do card -->
  <div class="card-footer bg-transparent">
    <!-- Botão de Agendamento -->
    <button class="btn btn-primary btn-block" (click)="openModal()">Agendar</button>

    <!-- Modal de Agendamento -->
    <app-agendar-salao *ngIf="isModalOpen" [idSalao]="salao.id" (close)="closeModal()"></app-agendar-salao>
  </div>
</div>
