<div class="principal">
  <div class="container py-5">
    <div class="linha justify-content-center">
      <div class="coluna-md-4">
        <div class="cartao sombra-caixa">
          <div class="cartao-corpo">
            <h2 class="texto-central mb-4">{{ isEditMode ? 'Editar' : 'Criar' }} Agendamento</h2>
            <form (ngSubmit)="onSubmit()">
              <div class="mb-4">
                <label for="nomeCliente" class="texto-suave">Nome do Cliente</label>
                <input
                  type="text"
                  id="nomeCliente"
                  [(ngModel)]="agendamento.nomeCliente"
                  name="nomeCliente"
                  class="form-control"
                  required
                />
              </div>
  
              <div class="mb-4">
                <label for="diaAgendamento" class="texto-suave">Dia</label>
                <input
                  type="date"
                  id="diaAgendamento"
                  [(ngModel)]="agendamento.diaAgendamento"
                  name="diaAgendamento"
                  class="form-control"
                  required
                />
              </div>
  
              <div class="mb-4">
                <label for="horarioAgendamento" class="texto-suave">Horário</label>
                <input
                  type="time"
                  id="horarioAgendamento"
                  [(ngModel)]="agendamento.horarioAgendamento"
                  name="horarioAgendamento"
                  class="form-control"
                  required
                />
              </div>
  
              <div class="mb-4">
                <label for="descricao" class="texto-suave">Descrição</label>
                <textarea
                  id="descricao"
                  [(ngModel)]="agendamento.descricao"
                  name="descricao"
                  class="form-control"
                ></textarea>
              </div>
  
              <div class="grupo-botoes">
                <button type="submit" class="botao botao-primario">
                  {{ isEditMode ? 'Atualizar' : 'Criar' }} Agendamento
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
